<div class="card-container">
<div class="card">
  <img src="https://th.bing.com/th/id/R.7544124e4879f4972be700d4419cf836?rik=%2bBa1%2bdV0Z8ce3A&pid=ImgRaw&r=0" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card">
  <img src="https://th.bing.com/th/id/OIP.uaS8lY4XTeZ4bHHg3PWepQHaFc?w=281&h=207&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card">
  <img src="https://th.bing.com/th/id/OIP.BCIy9tqF45yTbVECTQsVpwHaGm?w=186&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div></div>