<div class="card-container">
    <div class="card">
      <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-365-dabra-catalog/default/dw667ccccf/products/NIDD9477-446/NIDD9477-446-1.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <img src="https://th.bing.com/th/id/R.07f233371dae322084591c471415ba5e?rik=QAb7l8IPB1DgZQ&pid=ImgRaw&r=0" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.stqVKWQRGfzf-n2_sz9-uwHaFS?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div></div>
